<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Novo Evento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list id="OwnerInfo" >

    <ion-grid style="border-top: none;" >
      <ion-row>
        <ion-col class="align-center" width-100>
          <p class="WhichPet" >Para qual pet?</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <div class="SpecialtyDiv" >
            <select [(ngModel)]="Appointment.pet" >
              <option value="" >Todas</option>
              <option *ngFor="let Buddy of Buddies" value="{{Buddy.Name}}" >{{Buddy.Name}}</option>
            </select>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

	  <ion-grid>
      <ion-row>
        <ion-col class="align-center" width-10>
          <ion-icon name="md-bookmark"></ion-icon>
        </ion-col>
        <ion-col width-90>
          <ion-input type="text" placeholder="Título" [(ngModel)]="Appointment.title" ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="align-center" width-10>
          <ion-icon name="md-calendar"></ion-icon>
        </ion-col>
        <ion-col width-90>
          <ion-input type="text" placeholder="Data" [(ngModel)]="Appointment.date" ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="align-center" width-10>
          <ion-icon name="md-time"></ion-icon>
        </ion-col>
        <ion-col width-90>
          <ion-input type="text" placeholder="Horário" [(ngModel)]="Appointment.time" ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="align-center" width-10>
          <ion-icon name="md-pin"></ion-icon>
        </ion-col>
        <ion-col width-90>
          <ion-input type="text" placeholder="Endereço" [(ngModel)]="Appointment.address" ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="align-center" width-10>
          <ion-icon name="md-home"></ion-icon>
        </ion-col>
        <ion-col width-90>
          <ion-input type="text" placeholder="Complemento" [(ngModel)]="Appointment.address2" ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-list>

  <button class="MainColor" ion-button block (click)="saveInfo()" >SALVAR</button>

  <div class="Notify" *ngIf="JustSaved" [@fadeIn]="JustSavedStr" >Por favor, preencha todos os campos</div>

</ion-content>
