#OwnerInfo ion-grid{
    border-top: 1px solid #ddd;
    margin: 0px -20px;
    width: 120%;
    padding: 0px 40px 0px 15px;
}
#OwnerInfo ion-grid ion-row{
	display: flex;
    align-items: center;
}
#OwnerInfo ion-icon{
	font-size: 1.4em;
}
#OwnerInfo ion-col img{
    padding: 0px 4px;
}
#OwnerInfo ion-input{
	border: none;
}
#OwnerInfo ion-textarea textarea{
	height: 70px
}
#OwnerInfo .PasswordInput input{
    color: #008080;
    opacity: 1;
    text-decoration: underline;
}
.Notify{
	position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 1.2em;
    right: 0;
    padding: 0.6em 1.5em;
    background: #444;
    width: 100%;
    color: white;
}