<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Veterinários <ion-icon class="HelpToggle" (click)="toggleHelp()" name="md-help" ></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<div class="VetSearch" >
		<ion-icon name="md-search" ></ion-icon>
		<ion-input type="text" placeholder="Buscar Veterinário" [(ngModel)]="SearchVal" ></ion-input>
	</div>
	
	<div class="SpecialtyDiv" >
		<p class="Specialty" >Alguma especialidade?</p>
		<select [(ngModel)]="Specialty" >
	      <option value="" >Todas</option>
	      <option value="Clínica Geral" >Clínica Geral</option>
	      <option value="Cardiologista">Cardiologista</option>
	      <option value="Dermatologista">Dermatologista</option>
	      <option value="Neurologista">Neurologista</option>
	      <option value="Ortopedista">Ortopedista</option>
	    </select>
	</div>

	<ion-list class="VetList" >
	  	<ion-item (click)="viewVet(Vet)" *ngFor="let Vet of Vets | filter : FilterFields : SearchVal | filter : FilterFields : Specialty | orderByPipe : 'Favorites' : 'dsc'" >
	      	<ion-grid>
			  	<ion-row>
			   		<ion-col width-10>
	  					<img class="Icon" src="assets/images/{{Vet.Icon}}" />
			   		</ion-col>
			   		<ion-col width-70 class="Lefty" >
			      		{{Vet.Gender}} {{Vet.Name}}<br>
			      		<small>{{Vet.Specialty}}</small>
			   		</ion-col>
			   		<ion-col width-20 style="text-align: right;" >
			   			{{Vet.Favorites}}<br>
			      		<small>Indicações</small>
			   		</ion-col>
			  	</ion-row>
			</ion-grid>
	  	</ion-item>
	</ion-list>


	<div class="NothingHere" *ngIf="(Vets | filter : FilterFields : SearchVal | filter : FilterFields : Specialty)?.length==0" >
	  	<img class="Icon" src="assets/images/NotFoundCat.jpeg" />
		<p>
			Nada por aqui... Por enquanto!<br>
			Que tal fazer uma nova busca? :)
		</p>
	</div>

</ion-content>

<div id="Help" *ngIf="ShowHelp" (click)="toggleHelp()" >
  	<img class="Icon" src="assets/images/VetPageHelp.png" />
</div>