modal-consulta.ion-page.show-page {
    position: initial;
    width: 85%;
    height: 415px;
    margin: 0 auto;
}
modal-consulta h2{
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 1em;
}
modal-consulta h3{
    text-align: center;
    font-size: 1.5em;
}
modal-consulta .Buddy {
    text-align: center;    
}
modal-consulta .Buddy p{
    font-size: 1.2em;
}
modal-consulta .Buddy select{
    padding: 0.5em;
    width: 95%;
    background: white;
}
modal-consulta textarea{
    height: 60px;
    border: none;
    width: 95%;
}
modal-consulta ion-input, modal-consulta textarea{
    border-bottom: 1px solid #aaa;
}
.ButtonsGrid{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
}
.ButtonsGrid button span{
    font-size: 85%;
}